<div class="wotitem">
  <div class="post-header">

    <div class="post-content" style="color: white;">
      <%= form_with(model: @user, method: :patch, local: true, html: { class: "post-form" }) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> han ocurrido al editar el usuario:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <%= form.text_area :description, rows: 3, class: "form-control" %>
        </div>


        <div class="form-group">
          <%= form.label :full_name, "Nombre del usuario", class: "form-label" %>
          <%= form.text_field :full_name, class: "form-control" %>
        </div>

        <div>
          <%= form.label :avatar, "Avatar", class: "form-label" %>
          <%= form.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
        </div>
        <p> </p>
        <div>
          <%= form.label :background, "Background image", class: "form-label" %>
          <%= form.file_field :background, accept: "image/jpeg,image/gif,image/png" %>
        </div>
        <p> </p>

        <div class="form-group text-left">
          <%= form.submit "Guardar", class: "btn btn-primary btn-rectangular" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
