<div class="sub-navbar">
  <div>
    <%= link_to "Most Threads", magazines_path(sort_by: "threads") %>
    <%= link_to "Most Comments", magazines_path(sort_by: "comments") %>
    <%= link_to "Most Subscribers", magazines_path(sort_by: "subscribers") %>
  </div>
</div>

<body class="wotbody">
  <div class="wotitem">
  <table class="magazine-table">
    <thead>
      <tr>
        <th class="magazine-th">Name</th>
        <th class="magazine-th"># Threads</th>
        <th class="magazine-th"># Comments</th>
        <th class="magazine-th"># Subscribers</th>
        <th class="magazine-th">Subscribe/Unsubscribe</th>
      </tr>
    </thead>
    <tbody>
      <% @magazines.each do |magazine| %>
        <tr>
          <td class="magazine-td"><strong><%= link_to magazine.name, magazine, style: "color: white;" %></strong></td>
          <td class="magazine-td"><%= magazine.posts.count %></td>
          <td class="magazine-td"><%= magazine.comments.count %></td>
          <td class="magazine-td"><%= magazine.admins.size %></td>
          <td class="magazine-td">
            <% if admin_signed_in? %>
              <% if current_admin.magazines.include?(magazine) %>
                <%= button_to "Unsubscribe", unsubscribe_magazine_path(magazine), method: :delete, class: 'btn btn-primary btn-rectangular' %>
              <% else %>
                <%= button_to "Subscribe", subscribe_magazine_path(magazine), method: :post, class: 'btn btn-primary btn-rectangular' %>
              <% end %>
            <% else %>
              <%= button_to "Subscribe", new_admin_session_path, method: :get, class: 'btn btn-primary btn-rectangular' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

</body>
<hr>
<footer>
</footer>
