<%= form_with(model: @admin, url: admin_path(@admin), local: true, html: { class: "post-form" }) do |form| %>

<% if @admin.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@admin.errors.count, "error") %> Han ocurrido los errores:</h2>
     <ul>
     <% @admin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <% if @admin.background.attached? %>
    <%= image_tag @admin.background.variant(resize_to_limit: [600, 300]), class: "background-banner" %>
  <% end %>

  <% if @admin.avatar.attached? %>
    <%= image_tag @admin.avatar.variant(resize_to_limit: [100, 100]), class: "avatar" %>
  <% end %>



  <p><strong><%= @admin.full_name %></strong></p>
  <p><%= @admin.email %></p>
  <p><%= @admin.description %></p>

<% end %>