  <div class="profile-header">
    
    <% if @admin.background.attached? %>
      <%= image_tag @admin.background.variant(resize_to_limit: [1080, 720]), class: "background-banner" %>
    <% end %>
    
  </div>


  <div class="overlay" style="float: left; display: flex; flex-direction: column; align-items: center;">
    
    <% if @admin.avatar.attached? %>
      <%= image_tag @admin.avatar.variant(resize_to_limit: [100, 100]), class: "avatar" %>
    <% end %>

    <p style="font-weight: bold; margin-bottom: 5px"><%= @admin.full_name %></p>
    <p style="margin: 5px 0;"><%= @admin.email %></p>
    <p style="margin-top: 5px;"><%= @admin.description %></p>
    
    <div class="user_actions">
      <i style="margin: 5px 5px 5px 5px;" class="fas fa-users"></i> &nbsp 0 &nbsp
    </div>

  </div>