
<%= form_with(model: @post, url: posts_path, local: true, html: { class: "post-form" }) do |form| %>

<% if @post.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@post.errors.count, "error") %> han ocurrido al crear el post:</h2>
     <ul>
     <% @post.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="form-group">
    <%= form.label :title, "Título:", class:"form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url, "URL:", class:"form-label" %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "Cuerpo:" , class:"form-label" %>
    <%= form.text_area :body, rows: 2, class: "form-control" %>
  </div>

  <div class="form-group text-right">
    <%= form.submit "Añadir un nuevo enlace!", class: "btn btn-primary btn-rectangular" %>
  </div>

  <%= form.hidden_field :user_id, value: 1 %>
<% end %>