<%= form_with(model: @post, url: posts_path, local: true, html: { class: "post-form" }) do |form| %>

<% if @post.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@post.errors.count, "error") %> han ocurrido al crear el post:</h2>
     <ul>
     <% @post.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="form-group">
    <%= form.label :title, "Title:", class:"form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "Body:" , class:"form-label" %>
    <%= form.text_area :body, rows: 2, class: "form-control" %>
  </div>

 <div class="form-group">
  <%= form.label :magazine_id, "Magazine:", class: "form-label" %>
  <%= form.collection_select :magazine_id, @magazines, :id, :name, {}, {class: "form-control"} %>
</div>


  <div class="form-group text-right">
    <%= form.submit "Add new link!", class: "btn btn-primary btn-rectangular" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :link %>
<%= form.hidden_field :url, value: " " %>

<% end %>