<div class="wotitem">
  <div class="post-header">
    <div>
      <!-- Botones de votación -->
      <span class="vote-buttons">
        <%= button_to 'upvote', {class: 'vote', style: "margin-bottom: 1em;"} do %>
          <span> 0 &nbsp;</span>
          <i class="fas fa-arrow-up"></i>
        <% end %>
        <%= button_to 'downvote', {class: 'vote'} do %>
          <span> 0 &nbsp;</span>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      </span>
    </div>

    <!-- Imagen -->
    <div class="no-image">
      <%= link_to post_path(post) do %>
        <i class="fas fa-comment-alt"></i>
      <% end %>
    </div>

    <!-- Contenido del post -->
    <div class="post-content">
        <h2>Titulo:  <%= post.title %></h2>
      <p><strong>URL:</strong> <%= post.url %></p>
      <p><strong>Contenido:</strong> <%= post.body %></p>
    </div>
  </div>
<!-- Mostrar el número de comentarios como un enlace al post -->
<div class="comments-count" style="color: white; margin-left: 80px">
  <%= link_to pluralize(post.comments_count, 'comment'), post_path(post), class: 'comment-link', style: "text-decoration: underline; color: white;" %>
</div>

</div>