<div class="wotitem">
  <div class="post-header">
 <!-- Botones de votación -->
<span class="vote-buttons">
  <%= form_tag upvote_post_path(post), method: :post, class: 'vote', style: "margin-bottom: 1em;" do %>
    <%= button_tag(type: 'submit') do %>
      <span> <%= post.upvotes_count %> &nbsp;</span>
      <i class="fas fa-arrow-up"></i>
    <% end %>
  <% end %>

  <%= form_tag downvote_post_path(post), method: :post, class: 'vote' do %>
    <%= button_tag(type: 'submit') do %>
      <span> <%= post.downvotes_count %> &nbsp;</span>
      <i class="fas fa-arrow-down"></i>
    <% end %>
  <% end %>
</span>

    <!-- Imagen -->
    <!-- <div class="no-image">
      <%= link_to post_path(post) do %>
        <i class="fas fa-comment-alt"></i>
      <% end %>
    </div>-->

    <!-- Contenido del post -->
    <div class="post-content" style = "margin-left: 20px;">

    <div class="text-container">
        <span class="first-part">  <h2><%= link_to post.title, post_path(post), style: "color: white;" %></h2></span>
        <span class="second-part" ><% if post.link? %>
        <p>
            (<%= link_to post.url, post.url, target: "_blank", style: "color: white;" %>)
        </p>
        <% end %></span>
    </div>

    <p> <strong><a style="color:#cecece;" href="<%= admin_path(post.admin) %>">
                    <%= post.admin.full_name %>
            </a>
            </strong> <%= time_ago_in_words(post.created_at) %> ago to magazine</p>
    </div>
  </div>
<!-- Mostrar el número de comentarios como un enlace al post -->
<div class="comments-count" style="color: white; margin-left: 80px">
  <%= link_to pluralize(post.comments_count, 'comment'), post_path(post), class: 'comment-link', style: "text-decoration: underline; color: white;" %>
</div>

</div>