<div class="wotitem">
  <div class="post-header">
    <div>
     <!-- Botones de votación -->
     <div class="vote-buttons">
      <%= button_to upvote_post_path(@post), method: :put, class: "vote", style: "margin-bottom: 1em; color: #{'green' if @votes_hash[@post.id] == 'upvote'}" do %>
        <span> <%= @post.upvotes_count %> &nbsp;</span>
        <i class="fas fa-arrow-up" style="color: #{'green' if @votes_hash[@post.id] == 'upvote'}"></i>
      <% end %>

      <%= button_to downvote_post_path(@post), method: :put, class: "vote", style: "color: #{'red' if @votes_hash[@post.id] == 'downvote'}" do %>
        <span> <%= @post.downvotes_count %> &nbsp;</span>
        <i class="fas fa-arrow-down" style="color: #{'red' if @votes_hash[@post.id] == 'downvote'}"></i>
      <% end %>
    </div>
    </div>



    <!-- Contenido del post -->
    <div style="margin-left:10px;" class="post-content">
        <div class="text-container">
        <span class="first-part"><h2><%= @post.title %></h2></span>
        <span class="second-part" ><% if @post.link? %>
        <p>
            (<%= link_to @post.url, @post.url, target: "_blank", style: "color: white;" %>)
        </p>
        <% end %></span>
         <p> <strong><a style="color:#cecece;" href="<%= admin_path(@post.admin) %>">
                    <%= @post.admin.full_name %>
            </a>
            </strong> <%= time_ago_in_words(@post.created_at) %> ago  </strong></p>
    </div>
      <p> <%= @post.body %></p>
    </div>



  <!-- Enlaces para editar y eliminar el post -->
    <% if admin_signed_in? && current_admin == @post.admin %>
    <div class="post-actions">
    <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary btn-rectangular'%>
    <hr style="opacity: 0%;">
    <%= button_to 'Eliminar', @post, method: :delete, class: 'btn btn-danger btn-rectangular' %>
    </div>
    <% end %>
  </div>

   <div class="comments-count" style="color: white; margin-left: 80px">
  <%= link_to pluralize(@post.comments_count, 'comment'), post_path(@post), class: 'comment-link', style: "text-decoration: underline; color: white;" %>
</div>




  </div>
  <div class="post-header">
    <!-- Contenido del post -->
    <div class="post-content" style ="color: white;">
        <%= render 'formedit' %>
    </div>
    </div>
