<!-- Wall of Posts main view -->

<body class="wotbody">
  <h1 class="wottitle">
    TALKIFY - Wall of Posts @
  </h1>
  <br>

 
  <%= link_to new_post_path, id: "create-post-button" do %>
    Crear Nuevo Post
  <% end %>
  
  <% if notice %>
  <br>
  <div class="wotitem" id="notice">
    <% if notice[0] == 'T' %>
      <span style="color: green;"><%= notice %></span>
    <% else %>
      <span style="color: red;"><%= notice %></span>
    <% end %>
  </div>
  <% end %>
  <br>

  <div id="tweets">
    <% @actual_day = "" %>
    <% @posts.each do |post| %>
      <% @post_day = post.created_at.strftime("%A, %B %d, %Y") %>
      <% if @actual_day != @post_day %>
        <h3 style="font-weight: normal;">
          ......
          <%= @actual_day = @post_day %>
        </h3>
      <% end %>
      <%= render post %>
    <% end %>
  </div>

</body>
<hr>
<footer>
</footer>
