<!-- Wall of Posts main view -->
<div class="sub-navbar">
 <div>
    <%= link_to "Top", sort_posts_path(sort_by: "top") %>
    <%= link_to "Newest", sort_posts_path(sort_by: "newest") %>
    <%= link_to "Commented", sort_posts_path(sort_by: "Commented") %>
  </div>
  <div class="navbar-icons">
    <a href="#"><i class="fas fa-eye"></i></a>
    <a href="#"><i class="fas fa-clock"></i></a>
    <div class="dropdown">
      <a href="#" class="dropdown-btn"><i class="fas fa-filter" style="color: #fff;"></i></a>
        <div class="dropdown-content" style="top: 7.42rem; right: 5rem;">
          <%= link_to "All", posts_path %>
          <%= link_to "Links", posts_path(filter: "links") %>
          <%= link_to "Threads", posts_path(filter: "threads") %>
        </div>
    </div>
  </div>
</div>
<body class="wotbody">

  <div id="tweets">
    <% @posts.each do |post| %>
      <% if post.id %>
         <div>
          <%= render post %>
      </div>
      <% end %>
    <% end %>
  </div>

</body>
<hr>
<footer>
</footer>
