<div class="wotitem">
  <div class="post-header">
    <div>
      <!-- Botones de votación -->
      <span class="vote-buttons">
        <%= button_to 'upvote', {class: 'vote', style: "margin-bottom: 1em;"} do %>
          <span> 0 &nbsp;</span>
          <i class="fas fa-arrow-up"></i>
        <% end %>
        <%= button_to 'downvote', {class: 'vote'} do %>
          <span> 0 &nbsp;</span>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      </span>
    </div>

  

    <!-- Contenido del post -->
    <div class="post-content">
        <h2>Titulo:  <%= @post.title %></h2>
      <p><strong>URL:</strong> <%= @post.url %></p>
      <p><strong>Contenido:</strong> <%= @post.body %></p>
    </div>

    <!-- Enlaces para editar y eliminar el post -->
    <div class="post-actions">
    <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary btn-rectangular' %>
    <%= button_to 'Eliminar', @post, method: :delete, class: 'btn btn-danger btn-rectangular' %>
    </div>
  </div>
</div>

