<div class="wotitem">
  <div class="post-header">

<div class="vote-buttons">
  <%= button_to upvote_post_path(@post), method: :put, class: "vote", style: "margin-bottom: 1em; color: #{'green' if @votes_hash[@post.id] == 'upvote'}" do %>
  <span> <%= @post.upvotes_count %> &nbsp;</span>
  <i class="fas fa-arrow-up" style="color: #{'green' if @votes_hash[post.id] == 'upvote'}"></i>
<% end %>

<%= button_to downvote_post_path(@post), method: :put, class: "vote", style: "color: #{'red' if @votes_hash[@post.id] == 'downvote'}" do %>
  <span> <%= @post.downvotes_count %> &nbsp;</span>
  <i class="fas fa-arrow-down" style="color: #{'red' if @votes_hash[post.id] == 'downvote'}"></i>
<% end %>

<% unless admin_signed_in? %>
  <script>
    document.querySelectorAll('.vote').forEach(function(button) {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        window.location.href = '<%= new_admin_session_path %>';
      });
    });
  </script>
<% end %>
</div>


    <!-- Contenido del post -->
    <div style="margin-left:10px;" class="post-content">
        <div class="text-container">
        <span class="first-part"><h2><%= link_to @post.title,@post.url , target: "_blank", style: "color: white;" %></h2></span>
         <p> <strong><a style="color:#cecece; font-size: 14px;" href="<%= admin_path(@post.admin) %>">
                    <%= @post.admin.full_name %>
            </a>
            </strong> <%= time_ago_in_words(@post.created_at) %> ago  </strong></p>
    </div>
      <div class="comments-count" style="color: white;font-size: 14px;">
      <%= link_to pluralize(@post.comments_count, 'comment'), post_path(@post), class: 'comment-link', style: "text-decoration: underline; color: white;" %>
         <% if @boosted_posts.include?(@post.id) %>
    <span class="boost-link" style="text-decoration: underline; color: white;" onclick="boostPost(<%= @post.id %>);">boost(1)</span>
  <% else %>
    <span class="boost-link" style="text-decoration: underline; color: white;" onclick="boostPost(<%= @post.id %>);">boost</span>
  <% end %>

  <%= form_with model: @post, url: boost_post_path(@post), method: :post, id: "boost_form#{@post.id}", style: "display: none;" do |form| %>
  <% end %>

  <% unless admin_signed_in? %>
    <script>
      document.querySelectorAll('.boost-link').forEach(function(link) {
        link.addEventListener('click', function(e) {
          e.preventDefault();
          window.location.href = '<%= new_admin_session_path %>';
        });
      });
    </script>
  <% end %>
    </div>
      <p> <%= @post.body %></p>

    </div>



  <!-- Enlaces para editar y eliminar el post -->
    <% if admin_signed_in? && current_admin == @post.admin %>
    <div class="post-actions">
    <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary btn-rectangular'%>
    <hr style="opacity: 0%;">
    <%= button_to 'Eliminar', @post, method: :delete, class: 'btn btn-danger btn-rectangular' %>
    </div>
    <% end %>
  </div>






  </div>
</div>

<div class="sub-navbar wotitem">
  <div>
    <%= link_to "Top", sort_comments_post_path(@post, sort_by: "top") %>
    <%= link_to "Newest", sort_comments_post_path(@post, sort_by: "newest") %>
    <%= link_to "Oldest", sort_comments_post_path(@post, sort_by: "oldest") %>
  </div>
</div>


<div class="wotitem" name="new-comment">

  <%= render "comments/form", post: @post, comment: @comment, parent_comment: nil %>


</div>

<div name="show-comments">
  <%= render @comments.where(parent_comment_id: nil) %>
</div>

<script>
  function boostPost(postId) {
    document.getElementById('boost_form' + postId).submit();
  }
</script>