<!DOCTYPE html>
<html>
  <head>
    <title>Waslab04</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>

  <header>
    <div class="top-nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
          <a href="/posts">
            <%= image_tag("Talkify_logo-transformed.png", alt: "Talkify", width: "100") %>
          </a>
        </div>
        <menu class="head-nav__menu">
          <li><a href="/">Threads</a></li>
          <li><a href="/*">Magazines</a></li>
        </menu>
        <div class="navbar-icons">
          <a href="#"><i class="fas fa-search"></i></a>
          <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="fas fa-plus" style="font-size: 18px; margin-left: -0.5rem; color: #fff;"></i></a>
              <div class="dropdown-content" style="top: 4.42rem; right: 5rem;">
                <a href="/posts/new_link">Add new link</a>
                <a href="/posts/new_thread">Add new thread</a>
                <a href="#">Create new magazine</a>
              </div>
          </div>
          <a href="#"><i class="fas fa-bars"></i></a>
          <div class="dropdown">
            <a href="#" class="dropdown-btn"><i class="fas fa-user" style="font-size: 18px; margin-left: -0.5rem; color: #fff;"></i></a>
              <div class="dropdown-content" style="top: 4.42rem; right: 0.5rem;">
                <% if false %>
                  <a href="#">Profile</a>
                  <a href="#">Logout</a>
                <% else %>
                  <a href="#">Login</a>
                <% end %>
              </div>
          </div>
        </div>
      </nav>
    </div>
  </header>


    <%= yield %>
  </body>
</html>