<!DOCTYPE html>
<html>
  <head>
    <title>Waslab04</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>

  <header>
    <div class="top-nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
          <a href="/posts">
            <%= image_tag("Talkify_logo-transformed.png", alt: "Talkify", width: "150") %>
          </a>
        </div>
        <menu class="head-nav__menu">
          <li><a href="/">Hilos</a></li>
          <li><a href="/microblog">Microblog</a></li>
          <li><a href="/*">All Content</a></li>
          <li><a href="/*">Gente</a></li>
          <li><a href="/*">Revistas</a></li>
          <li><a href="/*">Collections</a></li>
        </menu>
        <div class="navbar-icons">
          <a href="#"><i class="fas fa-search"></i></a>
          <%=link_to new_post_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <a href="#"><i class="fas fa-bars"></i></a>
          <a href="#"><i class="fas fa-user"></i></a>
        </div>
      </nav>

      <div class="sub-navbar">
        <div>
          <a href="#">Destacado</a>
          <a href="#">Popular</a>
          <a href="#">Más Reciente</a>
          <a href="#">Activo</a>
          <a href="#">Comentado</a>
        </div>
        <div class="navbar-icons">
          <a href="#"><i class="fas fa-eye"></i></a>
          <a href="#"><i class="fas fa-clock"></i></a>
          <a href="#"><i class="fas fa-filter"></i></a>
        </div>
        </div>
    </div>
  </header>


    <%= yield %>
  </body>
</html>
